<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 내가만든 css 적용 -->
    <link rel="stylesheet" href="./stylesheets/startPage.css">
    <!-- <link rel="stylesheet" href="css/etc.css">
    <link rel="stylesheet" href="css/canvas.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>결과 테스트</title>
</head>
<body>
    <div class="container">
        <canvas></canvas>
        <div class="btn-container">
            <button id="reset">지우기</button>
            <button id="send">결과 확인</button>
        </div>
        <div class="text">예측한 번호는</div>
        <div id="answer">?</div>
    </div>
    <script type="text/javascript" src="js/button.js"></script>
    <script type="text/javascript" src="js/canvas.js"></script>
</body>
</html>