<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
  <title>JSON Data Display</title>
  <script>
    // Express 서버에서 JSON 데이터 가져오기(꼭 express 서버에서 가져와야함..)
    fetch('https://port-0-hairthon-server-rt92alkjpc0lh.sel4.cloudtype.app/')
      .then(response => response.json())
      .then(data => {
        // JSON 데이터를 HTML에 띄우기
        // document.getElementById('message').innerText = data.message;
        const container  = document.querySelector('.img');
        const img = new Image();
        // src 속성에 파일 주소 지정
        img.src = `${data.path}`;
        // console.log(data.path)
        // 요소에 삽입
        container.appendChild(img);

      })
      .catch(error => {
        console.error('Error fetching data from Express server:', error);
      });
  </script>
</head>
<body>
  <div id="message"></div>
  <div class = "img"></div>
</body>
</html>